<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IBM Blockchain Platform</title>
    <style>
    @import url('../resources/fonts');

        body {
            font-family:'IBM Plex Sans', 'IBMPlexSans', Arial, Helvetica, sans-serif;
            display: flex;
            padding: 16px 32px;
            font-size: 14px;
            letter-spacing:0.01px;
            font-weight: 400;
            -webkit-font-smoothing: antialiased;
            -moz-font-smoothing: antialiased;
            -o-font-smoothing: antialiased;

        }

        a {
            text-decoration: none;
            font-weight: 400;
        }

        a:hover{
            text-decoration:underline;
        }

        p {
            margin-top: 4px;
            margin-bottom: 16px;
        }

        h1{
            font-size:28px;
            letter-spacing:0.02px;
            font-weight: lighter;
            font-family: 'IBMPlexSans-Light', 'IBM Plex Sans', 'IBMPlexSans', Arial, Helvetica, sans-serif;
        }

        h2 {
            font-size: 24px;
            letter-spacing:0.02px;
        }

        h3 {
            font-size: 16px;
            letter-spacing:0.06px;
        }

        #content-middle {
            margin-bottom: 2px;
        }

        ul {
            list-style-type: none;
            padding-left: 0px;
        }

        li {
            margin-bottom: 8px;
        }

        li:before {
            content: "-";
            margin-right: 8px;
            position: absolute;
        }

        li div {
            margin-left: 16px;
        }

        /*
        ##############################################
        ### Generic Styling ###
        ##############################################
        */

        #home-container{
            flex:1;
            display:flex;
            flex-direction:column;
        }

        #home-title{
            flex-shrink:1;
            display:flex;
            flex-direction:row;
            align-items:baseline;
            margin-bottom: 32px;
        }

        #extension-name-container{
            flex-shrink:1;
            padding-right: 16px;
        }

        #extension-name{
            display:inline;
            font-size: 36px;
            font-family: 'IBMPlexSans-Light', 'IBM Plex Sans', 'IBMPlexSans', Arial, Helvetica, sans-serif;
        }

        #extension-version-container{
            flex:1;
        }

        #extension-version{
            display: inline;
        }

        #home-content {
            flex:1;
            display:flex;
            flex-direction: column;
        }

        #content-top, #content-middle, #content-bottom  {
            display: flex;
            margin-bottom: 4px;
            flex: 1;
        }

        #content-top-left, #content-top-right, #content-middle-right, #content-bottom-right, #content-bottom-left {
            display: flex;
            flex: 1;

        }

        #content-bottom-left{
            display: flex;
            flex: 1;
            padding-top: 32px;
            padding-right: 48px;
        }

        #content-top-left{
            display: flex;
            flex: 1;
            flex-direction: column;
            padding-right: 48px;
        }

        #about-title {
            margin: 0px 0px 8px 0px;
            font-family: 'IBMPlexSans-Light', 'IBM Plex Sans', 'IBMPlexSans', Arial, Helvetica, sans-serif;
        }

        #about-sub-text {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 400;
            font-family: 'IBMPlexSans-Medium', 'IBM Plex Sans', 'IBMPlexSans', Arial, Helvetica, sans-serif;
        }

        #capabilities {
            padding-right: 48px;
            font-family: 'IBM Plex Sans', 'IBMPlexSans', Arial, Helvetica, sans-serif;
            font-weight: 400;
        }

        #help-support-title{
            font-size: 20px;
            font-weight: 400;
            font-family: 'IBM Plex Sans', 'IBMPlexSans', Arial, Helvetica, sans-serif;
        }

        .panel {
            display: flex;
            flex-direction: column;
            padding: 32px 24px;
            flex: 1;
        }

        .panel-header {
        }

        .panel-top {
            flex: 1;
        }

        .panel-title {
            margin-top: 8px;
            padding-bottom: 8px;
            margin-bottom: 4px;
            font-family: 'IBM Plex Sans', 'IBMPlexSans', Arial, Helvetica, sans-serif;
            font-weight: 400;
        }

        .panel-sub-text {
            margin-bottom: 16px;
            font-size: 16px;
            font-family: 'IBM Plex Sans', 'IBMPlexSans', Arial, Helvetica, sans-serif;
            font-weight: 400;
            width: 65%;
        }

        .panel-bottom {
            display: flex;
        }

        .panel-link {
            font-size: 16px;
        }

        .sample-header{
            display:inline;
            font-weight: 300;
        }

        .sample-description{
            margin-bottom: 16px;
            font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
            font-weight: 400;
            width: 65%;
        }

        .panel-top .docLink {
            margin-bottom: 16px;
            margin-left: 32px;
            position: relative;
        }

        /*
        ##############################################
        ### Styling for vscode-dark grouped themes ###
        ##############################################
        */

        body.vscode-dark h1{
            color: #ffffff;
        }

        body.vscode-dark h2 {
            color: #F3F3F3;
        }

        body.vscode-dark {
            color: #F3F3F3;
        }

        body.vscode-dark a{
            color: #6EA6FF;
        }

        body.vscode-dark .panel {
            background-color: #242A2E;
        }

        body.vscode-dark .panel-sub-text {
            color: #B9BFC7;
        }

        body.vscode-dark .panel-header {
            background-color: #242A2E;
        }

        body.vscode-dark .sample-description{
            color: #B9BFC7;
        }

        /*
        ##############################################
        ### Styling for vscode-light grouped themes ###
        ##############################################
        */

        body.vscode-light a{
            color: #0062FF;
        }

        body.vscode-light h1{
            color: #000000;
        }

        body.vscode-light {
            color: #171717;
            background-color: #FFFFFF;
        }

        body.vscode-light .panel {
            background-color: #F3F3F3;
        }

        body.vscode-light .panel-title {
            color: #171717;
        }
         body.vscode-light .panel-sub-text {
            color: #565656;
        }

        body.vscode-light .sample-description{
            color: #565656;
        }

    </style>
</head>

<body>
    <div id="home-container">
        <div id="home-title">
            <div id="extension-name-container">
                <h1 id="extension-name">IBM Blockchain Platform</h1>
            </div>
            <div id="extension-version-container">
                <span id="extension-version">v<%= extensionVersion %></span>
            </div>
        </div>
        <div id="home-content">

            <div id="content-top">
                <div id="content-top-left">
                    <h1 id="about-title">Welcome</h1>
                    <p id="about-sub-text">This extension provides an integrated workflow for building the applications that you will use to transact on your blockchain network:</p>

                    <div id="capabilities">
                        <ul>
                            <li><div>Create a new smart contract project</div></li>
                            <li><div>Run and debug your smart contract using a local instance of Hyperledger Fabric</div></li>
                            <li><div>Integrate with the IBM Blockchain Platform offerings on <a href="https://cloud.ibm.com/catalog/services/blockchain?cm_mmc=OSocial_Googleplus-_-Blockchain+and+Watson+Financial+Services_Blockchain-_-WW_WW-_-vscode+home+page+catalog+listing+saas+20&cm_mmca1=000026VG&cm_mmca2=10008691" onclick="openUrl('IBM Cloud: IBP 2.0')">IBM Cloud</a> or <a href="https://cloud.ibm.com/docs/services/blockchain?topic=blockchain-ibp-icp-about&cm_mmc=OSocial_Googleplus-_-Blockchain+and+Watson+Financial+Services_Blockchain-_-WW_WW-_-VS+code+link+-+Avout+IBP+for+ICP+doc&cm_mmca1=000026VG&cm_mmca2=10008691#overview" onclick="openURL('IBM Cloud: About IBP for ICP')">IBM Cloud Private</a> to deploy and invoke your smart contract</div></li>
                            <li><div>Develop client applications that will interact with your deployed smart contracts</div></li>
                        </ul>
                    </div>
                </div>
                 <div id="content-top-right">

                    <div class="panel">
                        <div class="panel-header">
                            <h2 class="panel-title">Get started</h2>
                        </div>
                        <div class="panel-top">
                            <p class="panel-sub-text">Learn how to develop and debug your smart contracts, and deploy them to your network.</p>
                        </div>
                        <div class=panel-bottom>
                            <a class="panel-link" href="command:<%=commands.OPEN_TUTORIAL_GALLERY%>">Follow tutorials</a>
                        </div>
                    </div>


                </div>
            </div>
            <div id="content-bottom">
                <div id="content-bottom-left">
                    <div>
                        <h2 id="help-support-title">Help & Support</h2>
                        <p class="docLink"><a href="https://www.ibm.com/account/reg/signup?formid=urx-38322&cm_mmc=OSocial_Googleplus-_-Blockchain+and+Watson+Financial+Services_Blockchain-_-WW_WW-_-VS+code+link+-+Oreilly+book+promo&cm_mmca1=000026VG&cm_mmca2=10008691" onclick="openUrl('E-book: Getting Started with Enterprise Blockchain')">Free e-book: Getting Started with Enterprise Blockchain</a></p>
                        <p class="docLink"><a href="https://github.com/IBM-Blockchain/blockchain-vscode-extension/blob/master/README.md#features">Read the documentation</a></p>
                        <p class="docLink"><a href="https://hyperledger.github.io/caliper-benchmarks/content/fabric-performance/approach/">Hyperledger Fabric performance reports</a></p>
                        <p class="docLink"><a href="https://github.com/IBM-Blockchain/blockchain-vscode-extension/issues" onclick="#">Raise a GitHub issue</a></p>
                        <p class="docLink"><a href="https://stackoverflow.com/questions/tagged/ibp-vscode-extension" onclick="#">Search Stack Overflow</a></p>
                    </div>
                </div>
                <div id="content-bottom-right">
                    <div class="panel">
                        <div class="panel-header">
                            <h2 class="panel-title">Explore sample code</h2>
                        </div>
                        <div class="panel-top">

                            <!-- We will probably want to change this at some point to only list 3-5 samples.
                            Might want to add a flag in the repositories.json to help populate this in future.-->
                            <% for (const repository of repositories) { %>
                                <% for (const sample of repository.samples) { %>
                                    <h3 class="sample-header">
                                        <a href='command:<%=commands.OPEN_SAMPLE_PAGE%>?<%= encodeURIComponent(JSON.stringify([repository.name,sample.name])); %>'><%=sample.name%></a>
                                    </h3>
                                    <p class="sample-description"><%=sample.description%></p>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const vscode = acquireVsCodeApi();

        function openUrl(url) {
             vscode.postMessage({
                    command: 'telemetry',
                    url: url
                });
        }

    </script>
</body>
</html>
