<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IBM Blockchain Platform</title>
    <style>
    @import url('../resources/fonts');

        body {
            font-family:'IBM Plex Sans', Arial, Helvetica, sans-serif;
            display: flex;
            padding: 40px;
            font-size: 14px;
            letter-spacing:0.01px;
        }

        a {
            text-decoration: none;
            font-weight: 400;
        }

        a:hover{
            text-decoration:underline;
        }

        p {
            margin-top: 4px;
            margin-bottom: 4px;
        }

        h1{
            font-size:28px;
            letter-spacing:0.06px;
            font-weight: lighter
        }

        h2 {
            font-size: 14px;
            letter-spacing:0.01px;
            font-weight: bold;
        }

        h3 {
            font-size: 16px;
            letter-spacing:0.06px;
        }

        ul {
            list-style-type: none;
            padding-left: 16px;
        }

        li {
            margin-bottom: 16px;
        }

        li:before {
            content: "-";
            margin-right: 8px;
            position: absolute;
        }

        li div {
            position: relative;
            margin-left: 16px;
        }

        /*
        ##############################################
        ### Generic Styling ###
        ##############################################
        */

        #home-container{
            flex:1;
            display:flex;
            flex-direction:column;
        }

        #home-title{
            flex-shrink:1;
            display:flex;
            flex-direction:row;
            align-items:baseline;
            margin-bottom: 16px;
        }

        #extension-name-container{
            flex-shrink:1;
            padding-right: 16px;
        }

        #extension-name{
            display:inline;
            font-size: 36px;
        }

        #extension-version-container{
            flex:1;
        }

        #extension-version{
            display: inline;
        }

        #home-content {
            flex:1;
            display:flex;
            flex-direction: column;
        }

        #content-top, #content-middle, #content-bottom  {
            display: flex;
            margin-bottom: 32px;
        }

        #content-top-right, #content-middle-right, #content-bottom-right {
            flex: 1;
            max-width: 300px;
        }

        #content-top-left, #content-middle-left, #content-bottom-left {
            flex: 2;
            max-width: 500px;
            margin-right:32px;
        }

        #content-top-left > * {
            padding-right: 16px;
        }

        #about-title {
            margin: 0px 0px 8px 0px;
        }

        #about-sub-text {
            margin-top: 0;
        }

        #capabilities {
            margin-top: 16px;
        }

        .panel {
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .panel-header {
            padding: 4px 16px 0 16px;
        }

        .panel-top {
            flex: 1;
            padding: 16px 16px 4px 16px;
        }

        .panel-title {
            margin-top: 8px;
            padding-bottom: 8px;
            margin-bottom: 4px;
        }

        .panel-sub-text {
            margin-bottom: 16px;
        }

        .panel-bottom {
            display: flex;
            justify-content: flex-end;
        }

        .panel-button {
            background-color: #0F6FFF;
            padding: 16px;
            color: #F3F3F3;
        }

        .panel-button:hover {
            background-color: #054ADA;
            text-decoration: none;
            color: #F3F3F3;
        }

        #sample-header{
            display:inline;
        }

        #repository-name{
            margin-top: 4px;
            margin-bottom: 4px;
            font-weight:100;
            font-style:italic;
            letter-spacing:0.06px;
        }

        #sample-description{
            margin-bottom: 16px;
        }

        .panel-top .docLink {
            margin-bottom: 16px;
            margin-left: 32px;
            position: relative;
        }

        .docLink.github-icon:before {
            content: " ";
            width:16px;
            height:16px;
            display: inline-block;
            margin-right: 16px;
            position: absolute;
            left: -31px;
        }

        .docLink.document-icon:before {
            content: " ";
            width:16px;
            height:16px;
            display: inline-block;
            margin-right: 16px;
            position: absolute;
            left: -34px;
        }

        .docLink.search-icon:before {
            content: " ";
            width:16px;
            height:16px;
            display: inline-block;
            margin-right: 16px;
            position: absolute;
            left: -29px;
        }

        /*
        ##############################################
        ### Styling for vscode-dark grouped themes ###
        ##############################################
        */

        body.vscode-dark h1{
            color: #ffffff;
        }

        body.vscode-dark h2 {
            color: #F3F3F3;
        }

        body.vscode-dark {
            color: #BEBEBE;
        }

        body.vscode-dark .panel {
            background-color: #13171A;
        }

        body.vscode-dark .panel-header {
            background-color: #373D42;
        }

        body.vscode-dark #repository-name {
            color: #B1B1B1;
        }

        body.vscode-dark .docLink.github-icon:before {
            background: url(<%= images.githubDark %>) no-repeat right center;
        }

        body.vscode-dark .docLink.document-icon:before {
            background: url(<%= images.documentDark %>) no-repeat right center;
        }

        body.vscode-dark .docLink.search-icon:before {
            background: url(<%= images.searchDark %>) no-repeat right center;
        }

        /*
        ##############################################
        ### Styling for vscode-light grouped themes ###
        ##############################################
        */

        body.vscode-light {
            color: #000000;
        }

        body.vscode-light .panel {
            background-color: #F3F3F3;
        }

        body.vscode-light .panel-header {
            border-bottom: 1px solid #DCDCDC;
        }

        body.vscode-light .docLink.github-icon:before {
            background: url(<%= images.githubLight %>) no-repeat right center;
        }

        body.vscode-light .docLink.document-icon:before {
            background: url(<%= images.documentLight %>) no-repeat right center;
        }

        body.vscode-light .docLink.search-icon:before {
            background: url(<%= images.searchLight %>) no-repeat right center;
        }
    </style>
</head>

<body>
    <div id="home-container">
        <div id="home-title">
            <div id="extension-name-container">
                <h1 id="extension-name">IBM Blockchain Platform</h1>
            </div>
            <div id="extension-version-container">
                <span id="extension-version">v<%= extensionVersion %></span>
            </div>
        </div>
        <div id="home-content">
            <div id="content-top">
                <div id="content-top-left">
                    <h1 id="about-title">Welcome</h2>
                    <p id="about-sub-text">This extension helps you develop and deploy smart contracts:</p>

                    <div id="capabilities">
                        <ul>
                            <li><div>Create a new smart contract project</div></li>
                            <li><div>Run and debug your smart contract using a local instance of Hyperledger Fabric</div></li>
                            <li><div>Deploy your project to your network on the IBM Blockchain Platform <a href="https://cloud.ibm.com/docs/services/blockchain?topic=blockchain-ibp-console-overview#ibp-console-overview">IBM Cloud</a> or <a href="https://cloud.ibm.com/docs/services/blockchain?topic=blockchain-ibp-icp-about#overview" >IBM Cloud Private</a> for a smooth integration and workflow between components</div></li>
                            <li><div>Develop client applications that will interact with your deployed smart contracts</div></li>
                        </ul>
                    </div>
                </div>
                <div id="content-top-right"></div>
            </div>
            <div id="content-middle">
                <div id="content-middle-left">
                    <div class="panel">
                        <div class="panel-header">
                            <h2 class="panel-title">Learn the ropes</h2>
                        </div>
                        <div class=panel-top>
                            <p class="panel-sub-text">Get started developing, debugging and deploying your smart contracts</p>
                        </div>
                        <div class=panel-bottom>
                            <a class="panel-button" href="https://developer.ibm.com/tutorials/ibm-blockchain-platform-vscode-smart-contract">Follow tutorial</a>
                        </div>
                    </div>
                </div>
                <div id="content-middle-right">
                    <div class="panel">
                        <div class="panel-header">
                            <h2 class="panel-title">Help and Support</h2>
                        </div>
                        <div class="panel-top">
                            <p class="docLink document-icon">Read the <a href="https://github.com/IBM-Blockchain/blockchain-vscode-extension/blob/master/README.md#features">documentation</a>
                            <p class="docLink github-icon">Raise a <a href="https://github.com/IBM-Blockchain/blockchain-vscode-extension" onclick="#">GitHub</a> issue</p>
                            <p class="docLink search-icon">Search <a href="https://stackoverflow.com/questions/tagged/ibp-vscode-extension" onclick="#">Stack Overflow</a></p>
                        </div>
                    </div>
                </div>

            </div>
            <div id="content-bottom">
                <div id="content-bottom-left">
                    <div class="panel">
                        <div class="panel-header">
                            <h2 class="panel-title">Explore sample code</h2>
                        </div>
                        <div class=panel-top>
                            <p class="panel-sub-text">Our curated set of samples will show you best-practice across a varity of use-cases, and teach you to use Fabric concepts from the simple to the complex.</p>

                            <!-- We will probably want to change this at some point to only list 3-5 samples.
                            Might want to add a flag in the repositories.json to help populate this in future.-->
                            <% for (const repository of repositories) { %>
                                <% for (const sample of repository.samples) { %>
                                    <h3 id="sample-header">
                                        <a href='command:<%=commands.OPEN_SAMPLE_PAGE%>?<%= encodeURIComponent(JSON.stringify([repository.name,sample.name])); %>'><%=sample.name%></a>
                                    </h3>
                                    <h4 id="repository-name"><%=repository.name%></h4>
                                    <p id="sample-description"><%=sample.description%></p>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div id="content-bottom-right">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
