<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IBM Blockchain Platform</title>
    <style>
    @import url('../resources/fonts');

        body {
            font-family:'IBM Plex Sans', 'IBMPlexSans', Arial, Helvetica, sans-serif;
            display: flex;
            padding: 16px 32px;
            font-size: 14px;
            letter-spacing:0.01px;
            font-weight: 400;
            -webkit-font-smoothing: antialiased;
            -moz-font-smoothing: antialiased;
            -o-font-smoothing: antialiased;
        }

        a {
            text-decoration: none;
            font-weight: 400;
        }

        a:hover{
            text-decoration:underline;
        }

        p {
            margin-top: 4px;
            margin-bottom: 16px;
        }

        h1{
            font-size:28px;
            letter-spacing:0.02px;
            font-weight: lighter;
            font-family: 'IBMPlexSans-Light', 'IBM Plex Sans', 'IBMPlexSans', Arial, Helvetica, sans-serif ;
            margin: 0 0 24px 0;
        }

        h2 {
            font-size: 20px;
            letter-spacing: 0;
            line-height: 20px;
            font-family: 'IBM Plex Sans', 'IBMPlexSans', Arial, Helvetica, sans-serif;
            font-weight: 400;
            margin: 0;
        }

        h3 {
            font-size:18px;
            letter-spacing:0;
            line-height:26px;
            font-family: 'IBM Plex Sans', 'IBMPlexSans', Arial, Helvetica, sans-serif;
            margin: 0;
            font-weight: 400;
        }

        /*
        ##############################################
        ### Generic Styling ###
        ##############################################
        */

        #tutorial-gallery-container {
            flex:1;
            display:flex;
            flex-direction:column;
        }



        #tutorial-gallery-content {
            flex:1;
            display:flex;
            flex-direction: column;
        }

        #tutorial-gallery-description {
            flex-shrink:1;
            margin-bottom: 32px;
            max-width: 1000px;
        }

        #tutorial-series-list {
            flex:1;
            display: flex;
            flex-direction: column;
        }

        .tutorial-series {
            flex-shrink:1;
            display:flex;
            flex-direction: column;
            max-width: 670px;
            margin-bottom: 8px;
        }

        .series-panel {
            flex-shrink: 1;
            display: flex;
            flex-direction: column;
            padding: 16px;
            margin-bottom: 2px;
            color: inherit;
            text-decoration: none;
            cursor: pointer;
        }

        .series-panel:hover {
            color: inherit;
            text-decoration: none;
        }

        .series-information {
            flex-shrink: 1;
            display: flex;
            flex-direction: row;
            margin-bottom: 8px;
        }

        .series-name {
            flex: 1;
        }

        .series-length {
            flex-shrink: 1;
            letter-spacing:0;
            line-height:18px;
        }

        .series-difficulty {
            flex-shrink: 1;
            border: 1px solid;
            border-radius: 16px;
            padding: 2px 8px;
            margin-left: 32px;
            font-size:12px;
            letter-spacing:0;
            line-height:16px;
        }

        .series-dropdown {
            flex-shrink: 1;
            margin-left: 32px;
        }

        .series-description {
            flex: 1;
            font-size:14px;
            letter-spacing:0;
            line-height:20px;
        }

        .series-tutorials {
            flex-shrink:1;
            display:flex;
            flex-direction: column;
        }

        .tutorial-panel {
            display: flex;
            flex-direction: column;
            flex-shrink: 1;
            padding: 16px;
            margin-bottom: 2px;
            color: inherit;
            text-decoration: none;
        }

        .tutorial-panel:hover{
            color: inherit;
            text-decoration: none;
        }

        .tutorial-header {
            display: flex;
            flex-direction: row;
            flex: 1;
            margin-bottom: 8px;
        }

        .tutorial-number {
            flex: 1;
            font-size:12px;
            letter-spacing:0;
            line-height:16px;
        }

        .tutorial-length {
            flex: 1;
            letter-spacing:0;
            line-height:18px;
            text-align: right;
        }

        .tutorial-title {
            flex: 1;
            margin-bottom: 8px;
            text-align:left;
        }

        .tutorial-description {
            flex: 1;
            font-size:14px;
            letter-spacing:0;
        }

        .collapsed {
            display: none;
            visibility: invisible;
        }

        .chevron {
            width: 18px;
            height: 18px;
        }

        /*
        ##############################################
        ### Styling for vscode-dark grouped themes ###
        ##############################################
        */

        body.vscode-dark {
            color: #ffffff;
        }


        body.vscode-dark .series-panel {
            background-color: #252A2F;
        }

        body.vscode-dark .series-panel:hover {
            background-color: #2F363A;
        }

        body.vscode-dark .series-panel-expanded {
            background-color: #373D42;
        }

        body.vscode-dark .series-name{
            color: #f3f3f3;
        }

        body.vscode-dark .series-difficulty{
            color: #f3f3f3;
            border-color: #BEBEBE;
        }

        body.vscode-dark .series-description {
            color:#dcdcdc;
        }

        body.vscode-dark .tutorial-panel {
            background-color: #252A2F;
        }

        body.vscode-dark .tutorial-panel:hover {
            background-color: #2F363A;
        }

        body.vscode-dark .tutorial-number{
            color: #bebebe;
        }

        body.vscode-dark .tutorial-title{
            color: #ffffff;
        }

        body.vscode-dark .tutorial-description {
            color:#dcdcdc;
        }

        body.vscode-dark .chevron{
            background: url(<%= images.chevronDark %>) no-repeat right center;
        }


        /*
        ##############################################
        ### Styling for vscode-light grouped themes ###
        ##############################################
        */

        body.vscode-light {
            color: #000000;
        }


        body.vscode-light .series-panel {
            background-color: #F3F3F3;
        }

        body.vscode-light .series-panel:hover {
            background-color: #E5E5E5;
        }

        body.vscode-light .series-panel-expanded {
            background-color: #DCDCDC;
        }

        body.vscode-light .series-name{
            color: #171717;
        }

        body.vscode-light .series-difficulty{
            color: #171717;
            border-color: #8C8C8C;
        }

        body.vscode-light .series-description {
            color:#565656;
        }

        body.vscode-light .tutorial-panel {
            background-color: #F3F3F3;
        }

        body.vscode-light .tutorial-panel:hover {
            background-color: #E5E5E5;
        }

        body.vscode-light .tutorial-number{
            color: #565656;
        }

        body.vscode-light .tutorial-title{
            color: #171717;
        }

        body.vscode-light .tutorial-description {
            color:#565656;
        }

        body.vscode-light .chevron{
            background: url(<%= images.chevronLight %>) no-repeat right center;
        }

    </style>
</head>

<body>
    <div id="tutorial-gallery-container">
        <h1>Tutorials</h1>

        <div id="tutorial-gallery-content">
            <div id="tutorial-gallery-description">
                This series of tutorials will teach you step by step to develop smart contracts locally, then deploy into an IBM Blockchain Platform cloud environment.
                You’ll get to see how recommended sample code can help you learn about Hyperledger Fabric development, and how client applications transact on deployed contracts.
            </div>
            <div id="tutorial-series-list">
                <% for (const series of allSeries) { %>

                <div class="tutorial-series">

                    <a onclick="toggleSeriesState('<%=series.name%>')" id="<%=series.name%>-series-panel" class="series-panel series-panel-expanded" title="<%=series.name%>">
                        <div class="series-information">
                            <div class="series-name">
                                <h2><%= series.name %></h2>
                            </div>
                            <div class="series-length"><%= series.length %></div>
                            <div class="series-difficulty"><%= series.difficulty %></div>
                            <div class="series-dropdown">
                                <div id="<%=series.name%>-chevron" class="chevron"></div>
                            </div>
                        </div>
                        <div class="series-description"><%= series.description %></div>
                    </a>

                    <div id="<%=series.name%>-tutorials" class="series-tutorials">

                        <% for(let iterator in series.tutorials) { %>
                            <a class="tutorial-panel" href="command:<%=commands.OPEN_TUTORIAL_PAGE%>?<%= encodeURIComponent(JSON.stringify([series.name,series.tutorials[iterator].title])); %>">
                                <div class="tutorial-header">
                                    <div class="tutorial-number">Tutorial <%= Number(iterator)+1 %></div>
                                    <div class="tutorial-length"><%= series.tutorials[iterator].length %></div>
                                </div>
                                <div class="tutorial-title">
                                    <h3><%= series.tutorials[iterator].title %></h3>
                                </div>
                                <div class="tutorial-description"><%= series.tutorials[iterator].description %></div>
                            </a>
                        <% } %>

                    </div>
                </div>

                <% } %>
            </div>
        </div>
    </div>

    <script>
        function toggleSeriesState(seriesName){
            document.getElementById(seriesName+'-tutorials').classList.toggle('collapsed');
            let seriesPanel = document.getElementById(seriesName+'-series-panel');
            seriesPanel.classList.toggle('series-panel-expanded');

            if(seriesPanel.classList.contains('series-panel-expanded')){
                document.getElementById(seriesName+'-chevron').style.transform = "";
            } else{
                document.getElementById(seriesName+'-chevron').style.transform = "rotate(180deg)";
            }
        }

    </script>
</body>
</html>
